<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{>header}}
  <title>Document</title>
</head>

<body>
  <div class="container-fluid">
    {{>navbar}}
  
    <div class="main-container mt-3">
        <div class="row">
          <div class=" col-12 col-md-10 mx-auto">
            <div class="row">
                <div class="col-12 col-md-6 d-flex w-100 imgs">
                    <img src="/images/about.jpg" alt="mahel kari ">
                  </div>
              <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-start custom-row">
                <p>Welcome to weather app</p>
                <h1>get the latest weather info of your city</h1>
                <button class="btns">Check now</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
  </div>
    {{>footer}}
</body>

</html>